/*Обнуление*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}
html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
    padding: 30px;
    min-height: 100%;
}
.title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    margin: 0 0 30px 0;
}
/*-------------------------------*/
.image-slider {
    /*padding: 30px 0 70px 0;*/
    /*мультирядность
    height: 700px;*/
    /*вертикальный слайдер
    padding: 0;
    height: 700px;*/
}
.image-slider .swiper-slide {
    /*мультирядность
    height: calc((100% - 30px) / 2);
    overflow: hidden;*/
}
.image-slider__wrapper {
}
.image-slider__slide {
}
.image-slider__image {
    text-align: center;
    /*вертикальный слайдер
    height: 100%;*/
}
.image-slider__image img {
    max-width: 100%;
    /*вертикальный слайдер
    height: 100%;*/
}
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #fff;
    font-size: 80px;
}
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}
/*Фракция*/
.image-slider .swiper-pagination-fraction {
    font-size: 20px;
    color: #fff;
}
/*Прогрессбар*/
.image-slider .swiper-pagination-progressbar-fill {
    background-color: #7a956b;
}
/*Скролл*/
.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color:  #7a956b;
}
/*Автоширина (для корректной работы js: slidesPerView: 'auto',)*/
/*.image-slider .swiper-slide {
    width: auto;
}*/